.header {
  background: $off-grey;
  color: $off-dark;
  margin-bottom: $xl-size;
  padding: $m-size 0;
}
//BEM block element modifier
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-dark;
  font-size: $m-size;
  font-weight: bold;
  margin: 0;
}
